.flex-container {
    display: flex;
      padding: 5px;
  }

.child {
    flex: 1 1 auto;
    margin: 20px;
}

ul li {
    display:block;
    list-style:none;
    padding:5px 10px 5px 15px;
}

ul li:hover {
    background-color: lightgray;
}
