<h1>Boardgames shop</h1>
 
<section class="flex-container">

    <!-- <ul>
      <li *ngFor="let boardgame of boardgames">
        {{ boardgame.name }}
      </li>
    </ul> -->

    <!-- <ul>
      <li *ngFor="let film of ghiblifilms">
        {{ film.title }} - {{ film.release_date }}
      </li>
    </ul> -->

    <ul class="child" class="list-group">
      <li *ngFor="let boardgame of boardgamesviaapi" class="list-group-item" (click)="setCurrentGame(boardgame)">
        {{ boardgame.name }}
        <!-- <button (click)="setCurrentGame(boardgame)">Info</button> -->
        <span *ngIf="showRating(boardgame)"> {{ boardgame.rating }}</span>
        </li>
    </ul>

    <app-boardgamedetail (commentEmitter)="setComment($event)" (ratingEmitter)="updateRating($event)" class="child" *ngIf="currentBoardGame" [boardGameForDetails]="currentBoardGame"></app-boardgamedetail>

    <app-boardgame-orders class="child"></app-boardgame-orders>
</section>